* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.active {
    color: #D33A31;
}

.tab {
    width: 33.3333%;
    text-align: center;
    height: 100%;
}

.selected {
    color: #d33a31;
}

.selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.0625rem;
    z-index: 3;
    width: 100%;
    height: 0.25rem;
    transform: scaleY(0.5);
    background: #d33a31;
}

.items {
    display: flex;
    width: 100%;
}

.items .left {
    flex: 1;
}

.items .left .name {
    font-size: 1.0625rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items .left .author {
    color: #888;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items .right {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
}

.items .right span {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    width: 1.375rem;
    height: 1.375rem;
    background: url(../images/s.png) no-repeat;
    background-position: -1.5rem 0;
    background-size: 10.375rem 6.0625rem;
}

body .top-bar {
    background: #d23c33;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
    width: 100%;
    height: 4rem;
    z-index: 100;
}

body .top-bar .topsvg {
    width: 8.875rem;
}

body .top-bar .downloadApp {
    height: 1.875rem;
    line-height: 1.875rem;
    padding: 0 0.625rem;
    color: #fff;
    font-size: 0.9375rem;
    border: 0.8px solid #fff;
    border-radius: 15px;
}

body .main {
    margin-top: 4rem;
    padding-top: 2.5rem;
}

body .main .nav {
    position: fixed;
    top: 4rem;
    display: flex;
    width: 100vw;
    height: 2.5rem;
    font-size: 0.9375rem;
    z-index: 100;
    background: #fff;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0.0625rem;
}

body .main .nav .tabItems {
    width: 100%;
    display: flex;
}

body .main .nav .tabItems .tabName {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 0.3125rem;
    box-sizing: border-box;
    font-size: 0.9375rem;
    line-height: 2.5rem;
}

body .main .content .active {
    display: block;
}

body .main .content li {
    display: none;
}

body .main .content li .recommend {
    padding-top: 1.25rem;
}

body .main .content li .recommend .recommend-title {
    position: relative;
    padding-left: 0.5625rem;
    padding-bottom: 0.875rem;
    font-size: 1.0625rem;
    height: 2.125rem;
    line-height: 1.25rem;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0.0625rem;
}

body .main .content li .recommend .recommend-title:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 32%;
    margin-top: -0.5625rem;
    width: 0.125rem;
    height: 1rem;
    background-color: #d33a31;
}

body .main .content li .recommend .loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

body .main .content li .recommend .recommend-list {
    padding-bottom: 1.5rem;
}

body .main .content li .recommend .recommend-list .recommend-song {
    display: flex;
    padding-bottom: 1rem;
}

body .main .content li .recommend .recommend-list .recommend-song a {
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-right: 0.1875rem;
    width: 6.5416625rem;
    color: #333;
}

body .main .content li .recommend .recommend-list .recommend-song a p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0.0625rem 0.125rem 0 0.375rem;
    line-height: 1.2;
    font-size: 0.8125rem;
}

body .main .content li .recommend .recommend-list .recommend-song a .recommend-img {
    position: relative;
}

body .main .content li .recommend .recommend-list .recommend-song a .recommend-img img {
    width: 100%;
}

body .main .content li .recommend .recommend-list .recommend-song a .recommend-img span {
    position: absolute;
    right: 0.3125rem;
    top: 0.125rem;
    z-index: 3;
    padding-left: 0.8125rem;
    color: #fff;
    font-size: 0.75rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==) 0 no-repeat;
    background-size: 0.6875rem 0.625rem;
    text-shadow: 0.0625rem 0 0 rgba(0, 0, 0, 0.15);
}

body .main .content li .recommend .recommend-list .recommend-song a .recommend-img:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.25rem;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}

body .main .content li .recommend .new-music .music-list a {
    padding-left: 0.625rem;
    display: block;
    height: 3.4rem;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0.0625rem;
    display: flex;
    align-items: center;
    margin-top: -0.0625rem;
}

body .main .content li .recommend .new-music .music-list a .items {
    display: flex;
    width: 100%;
}

body .main .content li .recommend .new-music .music-list a .items .left {
    flex: 1;
}

body .main .content li .recommend .new-music .music-list a .items .left .name {
    font-size: 1.0625rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .main .content li .recommend .new-music .music-list a .items .left .author {
    color: #888;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .main .content li .recommend .new-music .music-list a .items .right {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
}

body .main .content li .recommend .new-music .music-list a .items .right span {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    width: 1.375rem;
    height: 1.375rem;
    background: url(../images/s.png) no-repeat;
    background-position: -1.5rem 0;
    background-size: 10.375rem 6.0625rem;
}

body .main .content li .recommend footer {
    position: relative;
    padding-top: 53.3%;
    margin-top: 0.25rem;
    background: url(../images/crowd.png) no-repeat;
    background-size: contain;
}

body .main .content li .recommend footer .wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    text-align: center;
}

body .main .content li .recommend footer .wrap .logo {
    padding-top: 12%;
    text-align: center;
}

body .main .content li .recommend footer .wrap .logo svg {
    display: block;
    margin: 0 auto;
    width: 14.375rem;
    height: 2.75rem;
}

body .main .content li .recommend footer .wrap .openApp {
    line-height: 2.375rem;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 1rem;
    color: #d33a31;
    margin: 0.9375rem 2.3125rem 0.3125rem;
}

body .main .content li .recommend footer .wrap .copyright {
    color: #888;
    font-size: 0.75rem;
    line-height: 1rem;
    transform: scale(0.75);
}

body .main .content li .hotop {
    background: url(../images/hotmusic.jpg);
    position: relative;
    overflow: hidden;
    background-size: contain;
}

body .main .content li .hotop .hotopct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.25rem;
    height: 7.78rem;
}

body .main .content li .hotop .hotopct .hoticon {
    width: 8.875rem;
    height: 4.1875rem;
    background-position: -1.5rem -1.875rem;
    background: url(../images/s.png) no-repeat;
    background-size: 10.375rem 6.0625rem;
}

body .main .content li .output {
    height: 1.25rem;
}

body .main .content li .output ul {
    height: 100%;
}

body .main .content li .output ul li {
    display: block;
}