* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.tab {
    width: 33.3333%;
    text-align: center;
    height: 100%;
}

.selected {
    color: #d33a31;
}

.selected:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 3;
    width: 100%;
    height: 0.0125rem;
    transform: scaleY(0.5);
    background: #d33a31;
}

body {
    font-size: 0.05rem;
}

body .top-bar {
    background: #d23c33;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.03125rem;
    width: 100%;
    height: 0.2rem;
    z-index: 100;
}

body .top-bar .topsvg {
    width: 0.44375rem;
}

body .top-bar .downloadApp {
    height: 0.09375rem;
    line-height: 0.09375rem;
    padding: 0 0.03125rem;
    color: #fff;
    font-size: 0.04688rem;
    border: 0.8px solid #fff;
    border-radius: 0.04688rem;
}

body .main {
    margin-top: 0.2rem;
    padding-top: 0.125rem;
}

body .main .nav {
    position: fixed;
    top: 0.2rem;
    display: flex;
    width: 100vw;
    height: 0.125rem;
    font-size: 0.04688rem;
    z-index: 100;
    background: #fff;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;
}

body .main .nav .tabName {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 0.01563rem;
    box-sizing: border-box;
    font-size: 0.04688rem;
    line-height: 0.125rem;
}

body .main .content .tabitem .recommend {
    padding-top: 0.0625rem;
}

body .main .content .tabitem .recommend .recommend-title {
    position: relative;
    padding-left: 0.02813rem;
    margin-bottom: 0.04375rem;
    font-size: 0.05313rem;
    height: 0.0625rem;
    line-height: 0.0625rem;
}

body .main .content .tabitem .recommend .recommend-title:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.02813rem;
    width: 0.00625rem;
    height: 0.05rem;
    background-color: #d33a31;
}

body .main .content .tabitem .recommend .recommend-list {
    padding-bottom: 0.075rem;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song {
    display: flex;
    padding-bottom: 0.05rem;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a {
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-right: 0.00938rem;
    width: 0.32708rem;
    color: #333;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1px 0.00625rem 0 0.01875rem;
    line-height: 1.2;
    font-size: 0.04063rem;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a .recommend-img {
    position: relative;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a .recommend-img img {
    width: 100%;
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a .recommend-img span {
    position: absolute;
    right: 0.01563rem;
    top: 0.00625rem;
    z-index: 3;
    padding-left: 0.04063rem;
    color: #fff;
    font-size: 0.0375rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==) 0 no-repeat;
    background-size: 0.03438rem 0.03125rem;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
}

body .main .content .tabitem .recommend .recommend-list .recommend-song a .recommend-img:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.0625rem;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}

body .main .content .tabitem .recommend .new-music .music-list a {
    padding-left: 0.03125rem;
    display: block;
    height: 0.17rem;
}

body .main .content .tabitem .recommend .new-music .music-list a .items {
    display: flex;
}

body .main .content .tabitem .recommend .new-music .music-list a .items .left {
    flex: 1;
}

body .main .content .tabitem .recommend .new-music .music-list a .items .left .name {
    font-size: 0.05313rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .main .content .tabitem .recommend .new-music .music-list a .items .left .author {
    color: #888;
    font-size: 0.0375rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .main .content .tabitem .recommend .new-music .music-list a .items .right {
    display: flex;
    align-items: center;
    padding: 0 0.03125rem;
}

body .main .content .tabitem .recommend .new-music .music-list a .items .right span {
    display: flex;
    align-items: center;
    padding: 0 0.03125rem;
    width: 0.06875rem;
    height: 0.06875rem;
    background: url(index-img/s.png) no-repeat;
    background-position: -0.075rem 0;
    background-size: 0.51875rem 0.30313rem;
}

body .main .content .tabitem .recommend footer {
    position: relative;
    padding-top: 53.3%;
    margin-top: 0.0125rem;
    background: url(index-img/crowd.png) no-repeat;
    background-size: contain;
}

body .main .content .tabitem .recommend footer .wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    text-align: center;
}

body .main .content .tabitem .recommend footer .wrap .logo {
    padding-top: 12%;
    text-align: center;
}

body .main .content .tabitem .recommend footer .wrap .logo svg {
    display: block;
    margin: 0 auto;
    width: 0.71875rem;
    height: 0.1375rem;
}

body .main .content .tabitem .recommend footer .wrap .openApp {
    line-height: 0.11875rem;
    border: 1px solid #d33a31;
    border-radius: 0.11875rem;
    font-size: 0.05rem;
    color: #d33a31;
    margin: 0.04688rem 0.11563rem 0.01563rem;
}

body .main .content .tabitem .recommend footer .wrap .copyright {
    color: #888;
    font-size: 0.0375rem;
    line-height: 0.05rem;
    transform: scale(0.75);
}