* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

b,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 400;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveout {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-20deg);
    }
}

@keyframes movein {
    0% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.active {
    color: #fefefe;
}

.rotate {
    animation: circle 20s infinite linear;
}

.norotate {
    animation-play-state: paused;
}

.moveout {
    animation: moveout 0.5s linear;
}

.movein {
    animation: movein 0.5s linear;
}

body {
    font-size: 0.05rem;
}

body .page {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

body .page .cover-back {
    position: absolute;
    background-image: url(img/cover-back.jpg);
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    transform-origin: center top;
}

body .page .cover-back:after {
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

body .page .phonograph {
    position: relative;
    height: 0.97188rem;
}

body .page .phonograph .play {
    background-image: url(img/play.png);
    width: 0.15625rem;
    height: 0.15625rem;
    background-size: contain;
    z-index: 10;
    position: absolute;
    left: 50%;
    margin-left: -0.07813rem;
    margin-top: 0.50625rem;
}

body .page .phonograph .needle {
    position: absolute;
    width: 0.2625rem;
    left: 50%;
    margin-left: -0.05625rem;
    transform-origin: 10% 0 0;
    animation-fill-mode: forwards;
    transform: rotateZ(-20deg);
    top: -0.00625rem;
}

body .page .phonograph .disc_light {
    position: absolute;
    width: 0.775rem;
    margin-top: 0.19688rem;
    left: 50%;
    margin-left: -0.3875rem;
}

body .page .phonograph .disc {
    position: absolute;
    width: 0.775rem;
    margin-top: 0.19688rem;
    left: 50%;
    margin-left: -0.3875rem;
}

body .page .phonograph .cover {
    width: 0.46875rem;
    position: absolute;
    left: 50%;
    margin-top: 0.35rem;
    margin-left: -0.23438rem;
    border-radius: 50%;
}

body .page .song-information {
    padding: 0 0.10938rem;
    margin-top: 0.07813rem;
    position: absolute;
    text-align: center;
    color: #fefefe;
    width: 1rem;
}

body .page .song-information .song-head {
    line-height: 1.1;
    font-size: 0.04688rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

body .page .song-information .song-head .gap {
    margin: 0 0.0125rem;
}

body .page .song-information .song-head .author {
    font-size: 0.04063rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

body .page .song-information .lyric {
    margin-top: 0.04375rem;
    font-size: 0.04063rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    height: 0.1875rem;
    overflow: hidden;
}

body .page .song-information .lyric p {
    height: 0.06rem;
    padding-bottom: 0.01563rem;
}

body .page .footer {
    position: absolute;
    bottom: 0.0625rem;
    display: flex;
    padding: 0 0.10938rem;
}

body .page .footer span {
    width: 0.37188rem;
    height: 0.1125rem;
    text-align: center;
    border: 1px solid #d43b32;
    line-height: 0.10625rem;
    border-radius: 0.0125rem;
    font-size: 0.04688rem;
}

body .page .footer .open {
    color: #d43b32;
}

body .page .footer .download {
    background: #d43b32;
    color: #fff;
    margin-left: 0.0375rem;
}